@page
@model UserMPA.Pages.RequisitionsModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
	var nomeUsuario = HttpContextAccessor.HttpContext?.Session.GetString("NomeUsuario");
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suas Requisições</title>
</head>
<body>
    <header>
        <h1>Biblioteca Virtual</h1>
        </header>

    <section id="lista-livros">
        <h2>Livros Disponíveis</h2>

      @*   <div id="book-container" class="cartas-container">
            @foreach (var obra in Model.Obras)
            {
                <div class="card">
                    <img src="@obra["image_path"]" alt="@obra["nome_obra"]">
                    <div class="info-card">
                        <h4>@obra["nome_obra"]</h4>
                        <p><strong>Núcleo:</strong> @obra["nome_nucleo"]</p>
                        <p><strong>Quantidade:</strong> @obra["quantidade"]</p>
                    </div>
                </div>
            } *@
        </div>
    </section>
</body>
</html>